---
import Layout from "@/layouts/Layout.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import Hero from "@/components/sections/Hero.astro"
import About from "@/components/sections/About.astro"
import Experience from "@/components/sections/Experience.astro"
import Projects from "@/components/sections/Projects.astro"
import Education from "@/components/sections/Education.astro"
import Skills from "@/components/sections/Skills.astro"
---

<Layout>
  <main class="flex flex-col gap-10 py-8 pb-20 px-4 sm:py-14 md:py-16 min-h-screen dark:bg-gray-800 dark:text-gray-100 text-lg text-pretty print:px-0 print:gap-8 print:py-6 print:text-base dark:print:text-gray-900">
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Projects />
		<Education />
	</main>
	<KeyboardManager />
</Layout>
