---
import Layout from "@/layouts/Layout.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import Hero from "@/components/sections/Hero.astro"
import About from "@/components/sections/About.astro"
import Experience from "@/components/sections/Experience.astro"
import Projects from "@/components/sections/Projects.astro"
import Education from "@/components/sections/Education.astro"
import Skills from "@/components/sections/Skills.astro"
---

<Layout>
  <main class="flex flex-col gap-10 py-6 px-4 sm:py-12 md:py-16 print:p-12 min-h-screen">
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Education />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>
